html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif !important;
    font-size: 24px;
}

/*Code from W3Schools for the slider*/

.slidecontainer {
    width: 100%;
    padding: 10px 0 50px;
    display: flex;
    align-items: center;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

#demo {
    color: white;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

/* End of slider CSS from W3Schools */

.form {
    background-color: #1d90d3;
    width: 460px;
    height: 400px;
    margin: 150px auto;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    right: 30%;
}

form {
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 150px;
}

label {
    height: 30px;
    width: 100px;
    padding: 0 10px;
    font-size: 20px !important;
}

#tipLabel {
    width: 10%;
    text-align: center;
}

.double {
    padding: 0 0 30px;
}

input {
    width: 280px;
    height: 25px;
    font-size: 20px !important;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-size: 1.1em !important;
}

h1 {
    font-size: 2em !important;
    font-weight: 900 !important;
    padding: 0 0 20px !important;
}